@model List<TableDevice>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/layoutv3.cshtml";
}

<head>
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/mainpage.css" />
    <link rel="stylesheet" href="~/css/mydevices.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style>

    </style>
</head>


<body>
    @foreach (var device in Model)
    {
        <a asp-controller="Main"
       asp-action="DownloadReport"
       asp-route-id="@device.DeviceUniqeKey" class="btn btn-success">@device.DeviceName isimli cihazın son 1 aylık raporunu PDF olarak indirmek için tıklayın</a>
    }
</body>