
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --black: #1e1e1e;
    --white: #fafafa;
    --main: #B3B3B3;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px !important;
    background-color: var(--white);
}

.registerSection {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 40em;
    height: auto;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(133,133,133,1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(133,133,133,1);
    box-shadow: 0px 1px 10px 0px rgba(133,133,133,1);
}

.secpartone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #b3b3b3, #bcbcbc, #c4c4c4, #cdcdcd, #d6d6d6);
    width: 12em;
    height: 100%;
}

    .secpartone img {
        width: 10em;
        height: 8em;
    }

.secparttwo {
    width: 28em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4em;
}

    .secparttwo h1 {
        margin-top: 1em;
        font-size: 2.2em;
        font-weight: bolder;
        color: var(--black);
    }

    .secparttwo h2 {
        margin-top: 2em;
        font-size:1em;
        font-weight:bold;
    }

.validationMessage {
    font-size: 1.2em;
    margin-top: 0.5em;
}

.textbox {
    width: 25em;
    margin-top: 2.2em;
    outline: none !important;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}


.dropdownmenu {
    width: 25em;
    margin-top: 2.2em;
    outline: none !important;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.mybutton {
    margin-top: 1em;
    width: 15em;
    height: 2em;
    background-color: var(--main);
    border: 1px solid var(--main);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--black);
    font-size: 1em;
    transition: 0.5s;
}

    .mybutton:hover {
        background: transparent;
        border: 1px solid var(--black);
        color: var(--black);
    }

.linksSection {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .linksSection label {
        font-size: 1em;
    }

    .linksSection input[type=checkbox] {
        width: 0.7em;
        height: 0.7em;
        vertical-align: central;
    }


@media screen and (max-width: 780px) {
    body {
        font-size: 15px !important;
    }

    .textbox {
        margin-top: 2.5em;
    }

    .dropdownmenu {
        margin-top: 2.5em;
    }

    .registerSection {
        height: auto;
    }
}


@media screen and (max-width: 690px) {
    body {
        font-size: 13px !important;
    }

    .registerSection {
        height: auto;
    }

    .textbox {
        width: 15em;
    }

    .dropdownmenu {
        width: 15em;
    }
}


@media screen and (max-width: 540px) {
    body {
        font-size: 11px !important;
    }

    .registerSection {
        height: auto;
    }
}


@media screen and (max-width: 460px) {
    body {
        font-size: 9px !important;
    }

    .registerSection {
        height: auto;
    }

    .secparttwo h1 {
        font-size: 3em;
    }

    .validationMessage {
        font-size: 1.2em;
    }

    .textbox {
        width: 20em;
        margin-top: 1.5em;
    }

    .dropdownmenu {
        width: 20em;
        margin-top: 1.5em;
    }
}


@media screen and (max-width: 380px) {
    body {
        font-size: 7px !important;
    }

    .registerSection {
        height: auto;
    }

    .secparttwo h1 {
        font-size: 3em;
    }

    .textbox {
        width: 20em;
        margin-top: 1.5em;
    }

    .dropdownmenu {
        width: 20em;
        margin-top: 1.5em;
    }
}
