@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/security.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
}



<h1>Gizlilik ve Güvenlik</h1>

<section class="securitypolicy">
    <h2>
        Abone – Abone Adayı Kişisel Verilerinin Korunması ve İşlenmesi Aydınlatma Metni
    </h2>

    <br />

    <p>
        İşbu “Müşteri/Abone-Müşteri/Abone Adayı Aydınlatma Metni” 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”)’nun 10. maddesi ve Aydınlatma Yükümlülüğünün Yerine Getirilmesinde Uyulacak Usul ve Esaslar Hakkında Tebliğ uyarınca, aşağıda kimliğine yer verilen veri sorumlusu Biocoder Teknoloji Sanayi ve Ticaret A.Ş (“Şirket” veya “Biocoder”) tarafından kişisel verilerinizin işlenmesine ilişkin olarak aydınlatma yükümlülüğünün yerine getirilmesi amacıyla hazırlanmıştır.

        <br />
        <br />
        <strong> 1. Amaç ve Veri Sorumlusunun Kimliği </strong>
        <br />
        Kişisel verileriniz, Mersin Üniversitesi Teknopark Z2, 33343 Yenişehir/Mersin adresinde mukim, Biocoder tarafından; veri sorumlusu sıfatıyla Kanun uyarınca, aşağıda sıralanan amaçlar çerçevesinde ve bu amaçlarla bağlantılı, sınırlı ve ölçülü şekilde, tarafımıza ulaştığı şekliyle, otomatik veya otomatik olmayan yöntemler ile kişisel verilerin doğruluğunu ve güncelliğini koruyarak aşağıda açıklanan kapsamda işlenebilecektir.

        <br />
        <br />
        <strong> 2. Kişisel Verilerin İşlenme Amaçları </strong>
        <br />
        Şirketimizin faaliyetleri kapsamında mal veya hizmet satış işlemlerinde Şirket ile paylaşmış olduğunuz veya Şirket tarafından otomatik veya otomatik olmayan yöntemler ile toplanan kişisel verileriniz, Kanun’da öngörülen temel ilkelere uygun olarak ve Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları dahilinde, aşağıda açıklanan amaçlar ile Şirket tarafından işlenebilecektir.

        Ayrıca, açık rızanız dahilinde, Şirket ile paylaşmış olduğunuz bilgilerinizin yanı sıra takip teknolojileri (çerez, web işaretçileri vb.) kullanmak suretiyle, üçüncü kişilere ait görüntülenen sayfalar, tıklanan bağlantı ve reklamlar gibi davranışların takibiyle elde edilen bilgilerden yararlanılarak oluşturulan profillere dayanılarak yapılan doğrudan pazarlama, çevrimiçi davranışsal reklamcılık ve konum tabanlı reklamcılık yapma amaçları ile de işlenecektir.

        İşbu Aydınlatma Metni kapsamında işlenen kişisel veriler ve işleme amaçları ile kişisel veri kategorileri aşağıdaki tabloda detaylı şekilde açıklamıştır.
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Kişisel Veri Kategorisi</th>
                <th>
                    <p>Kimlik Bilgisi : Ad Soyad, İmza, T.C. Kimlik Numarası, Ad Soyad, Unvan, T.C. Kimlik Numarası, Kimlik Fotokopisi, Doğum Yeri, Doğum Tarihi, Nüfus Cüzdanı Seri No vb. eski kimlik üzerinde yer alan kişisel veriler, Unvan, Vergi Kimlik Numarası,</p>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><strong>Kişisel Verinin İşlenme Amacı</strong></td>
                <td>Müşteri Adaylarıyla Görüşmelerin Gerçekleştirilmesi, İletişim Faaliyetlerinin Yürütülmesi, Satış Faaliyetlerinin Yürütülmesi, Müşteri Memnuniyetine Yönelik Faaliyetlerin Yapılması, Talep ve Soruların Cevaplandırılması, İş Faaliyetlerinin Yürütülmesi, Ba/Bs Formlarının Düzenlenmesi, Aylık Yasal Bildirimlerin Yapılması, Denetim ve Etik Faaliyetlerinin Yürütülmesi, Faaliyetlerin Mevzuata Uygun Yürütülmesi, Finans ve Muhasebe İşlerinin Yürütülmesi, Mal/Hizmet Satış Süreçlerinin Yürütülmesi, Mal/Hizmet Satışına İlişkin Faturaların Düzenlenmesi ve Saklanması, Yetkili Kamu Kurum ve Kuruluşlarına Bilgi Verilmesi, İhtar ve Bildirim Süreçlerinin Yönetilmesi ve Takibi, Saklama ve Arşiv Faaliyetlerinin Yürütülmesi, Sözleşme Süreçlerinin Yürütülmesi, Cari Hesap Kaydının Oluşturulması ve Takibi, Banka ve EFT Doğrulamasına İlişkin Süreçlerin Takibi, Bilgi Güvenliği Süreçlerinin Yürütülmesi, Müşteri İlişkileri Yönetimi Süreçlerinin Yürütülmesi, Ücret Politikasının Yürütülmesi, Sözleşme Süreçlerinin Yürütülmesi, İlgili Departmanlara Bilgi Verilmesi, İş Sürekliliğinin Sağlanması, Abonelik Sözleşmelerinin Kurulması, Belgelerin Muhafazasının Sağlanması, Evrak ve Belgelerin Taranması, İç Denetim Faaliyetlerinin Yürütülmesi, Hukuki Yükümlülüklerin Yerine Getirilmesi, Müşteri Memnuniyetine Yönelik Aktivitelerin Yürütülmesi, Mal/Hizmet Satış Sonrası Destek Hizmetlerinin Yürütülmesi, , Talep / Şikayetlerin Takibi, Bilgi Güvenliği Süreçlerinin Yürütülmesi</td>
            </tr>
        </tbody>
    </table>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Kişisel Veri Kategorisi
                </th>
                <th>
                    <p>İletişim Bilgisi : Telefon Numarası, E-Posta Adresi, Adres, Abone Numarası</p>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><strong>Kişisel Verinin İşlenme Amacı</strong></td>
                <td>Müşteri İlişkileri Yönetimi Süreçlerinin Yürütülmesi, Müşteri Memnuniyetine Yönelik Aktivitelerin Yürütülmesi, İş Faaliyetlerinin Yürütülmesi / Denetimi, İş Sürekliliğinin Sağlanması, Mal/Hizmet Satış Süreçlerinin Yürütülmesi, Mal / Hizmet Satış Sonrası Destek Hizmetlerinin Yürütülmesi, Sözleşme Süreçlerinin Yürütülmesi, Talep / Şikayetlerin Takibi, Yetkili Kişi, Kurum ve Kuruluşlara Bilgi Verilmesi, Abonelik Sözleşmelerinin Kurulması, Arşivleme Faaliyetlerinin Düzenlenmesi, Belgelerin Muhafazasının Sağlanması, Denetim ve Etik Faaliyetlerinin Yürütülmesi, İç Denetim Faaliyetlerinin Yürütülmesi, Hukuki Yükümlülüklerin Yerine Getirilmesi, İlgili Departmanlara Bilgi Verilmesi, Cari Hesap Kaydının Oluşturulması ve Takibi, Finans ve Muhasebe Faaliyetlerinin Yürütülmesi, Faaliyetlerin Mevzuata Uygun Yürütülmesi, Mal/Hizmet Satışına İlişkin Faturaların Düzenlenmesi ve Saklanması, İhtar ve Bildirim Süreçlerinin Yönetilmesi ve Takibi, Saklama ve Arşiv Faaliyetlerinin Yürütülmesi, Müşteri Adaylarıyla Görüşmelerin Gerçekleştirilmesi, İletişim Faaliyetlerinin Yürütülmesi, Talep ve Soruların Cevaplandırılması, Müşteri/Abone İlişkileri Yönetiminin Sağlanması, Veri Sorumlusu Operasyonlarının Güvenliğinin Sağlanması, Faaliyetlerin Mevzuata Uygun Yürütülmesi, Bilgi Güvenliği Süreçlerinin Yürütülmesi</td>
            </tr>
        </tbody>
    </table>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Kişisel Veri Kategorisi
                </th>
                <th>
                    <p>Müşteri İşlem : Talep bilgisi, Fatura ve İlgili Dokümanlar,</p>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><strong>Kişisel Verinin İşlenme Amacı</strong></td>
                <td>Cari Hesap Kaydının Oluşturulması ve Takibi, Finans ve Muhasebe Faaliyetlerinin Yürütülmesi, İş Faaliyetlerinin Gerçekleştirilmesi, Gerekli Hallerde Yetkili Kamu Kurum ve Kuruluşlarına Bilgi Verilmesi, Faaliyetlerin Mevzuata Uygun Yürütülmesi, Banka ve EFT Doğrulamasına İlişkin Süreçleri, Bilgi Güvenliği Süreçlerinin Yürütülmesi, Denetim / Etik Faaliyetlerinin Yürütülmesi, İletişim Faaliyetlerinin Yürütülmesi, Mal / Hizmet Satış Süreçlerinin Yürütülmesi, Müşteri İlişkileri Yönetimi Süreçlerinin Yürütülmesi, Ücret Politikasının Yürütülmesi, Veri Sorumlusu Operasyonlarının Güvenliğinin Sağlanması, Mal/Hizmet Satış Sonrası Destek Hizmetlerinin Yürütülmesi, Sözleşmenin Kurulması ve İfası</td>
            </tr>
        </tbody>
    </table>

</section>
