@model List<TableDevice>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/adminlayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cihaz ID</th>
             <th>Cihaz Kayıt Tarihi</th>
            <th>Cihazı Sil</th>       
        </tr>
    </thead>

    <tbody>
        @foreach (var device in Model)
        {
            <tr>
                <td>@device.DeviceUniqeKey</td>
                <td>@device.DeviceRegisterDate</td>
                <td>
                    <a asp-controller="Admin"
                   asp-action="AdminDeleteDevice"
                   asp-route-id=@device.DeviceUniqeKey class="btn btn-danger">Sil</a>
                </td>


            </tr>
        }
    </tbody>
</table>